@font-face {
    font-family: letra1;
    src: url(fuentes/Kasper\ Lullaby.otf);
}
@font-face {
    font-family: letra2;
    src: url(fuentes/Sunny.otf);
}
@font-face {
    font-family: letra3;
    src: url(fuentes/LeoRounded-Bold.ttf);
}
@font-face {
    font-family: letra4;
    src: url(fuentes/LeoRounded-Light.ttf);
}
@font-face {
    font-family: letra5;
    src: url(fuentes/AppleGaramond-Light.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* Menu superior */
nav#barra{
    width: 90%;
    max-width: 1200px;
    height: 60px;
    background-color: #fb92ba;/*Cambiar color de la barra de nav*/
    display: flex;
    align-items: center;
    position: fixed;
    margin: 10px auto;
    left: 0;
    right: 0;
    border-radius: 25px;
    z-index: 1000;
}
#menu{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 5vw;
}
#menu a{
    text-decoration: none;
    color: black;
    font-size: clamp(16px,2vw,20px);
}
#menu a:hover{
    border-bottom: 1px solid #ffffff;
}
#logo{
    margin-left: 20px;
    color: black;
    font-size: clamp(18px,2.5vw,24px);
}

/* Menú Hamburguesa */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #333;
    margin: 2px 0;
    transition: all 0.3s;
}

/*Inicio del portafolio*/
#inicio{
    width: 100%;
    height: 100vh;
    background-color: #e8d4d1;/*Cmbiar color de fondo*/
    display: flex;
    align-items: center;
}
#introduccion{
    background-color: #e8d4d1;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
#text{
    text-align: center;
}
#text h2{
    margin-bottom: 20px;
    font-size: clamp(20px, 4vw, 36px);
}
#text p{
    margin-bottom: 20px;
    font-size: clamp(16px, 2vw, 20px);
}
#mas{
    width: 200px;
    height: 40px;
    background-color: #fb92ba;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}
#mas a{
    text-decoration: none;
    color: white;
    font-size: clamp(14px ,1.5vw,16px);
}
#mas:hover{
    transform: scale(1.05);
}

/*Inicio del portafolio*/
#inicio{
    width: 100%;
    height: 100vh;
    background-color: #e8d4d1;
}
#introduccion{
    background-color: #e8d4d1;
    display: flex;
}
#avatar img{
    border-radius: 100%;
    width: 20vw;
    height: 22vw;
    margin: 15vw 15vw;
    box-shadow: 3px 3px 5px 3px #fb92ba ;
}
#text{
    width: 45vw;
    text-align: center;
    margin: 18vw auto;
    font-size: 1.5vw;
}
#mas{
    width: 15vw;
    height: 2vw;
    background-color: #fb92ba;
    border-radius: 20px;
    margin-top: 2vw;
    border: none;
}
li{
    list-style: none;
}
#mas a{
    text-decoration: none;
    color: white;
    font-family: letra4;
    font-size: 1vw;
}
#mas:hover{
    cursor: pointer;
}

/* sobre mi*/

#sobre-mi{
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    padding: 60px 20px;
}
#tituloMi{
    font-size: clamp(24px,4vw,36px);
    text-align: center;
    margin-bottom: 40px;
}
#tituloMi:hover{
    cursor: pointer;
    border-bottom: #fb92ba solid 3px;
}
#infor{
    width: 90vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin: auto auto;
}
#conteni{
    text-align: center;
    font-size: clamp(0.5rem,1.5vw,1.5rem);
    max-width: 34vw;
}
img#imagen1{
    width: 18vw;
    height: 20vw;
    border-radius: 100%;
    box-shadow: 3px 3px 5px 3px #fb92ba ;
}
#imagen1:hover{
    width: 19vw;
    height: 21vw;
}
#lenguajes{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
li#len{
    font-size: clamp(0.5rem,1vw,1.5rem);
    list-style: none;
    width: 9vw;
    height: 2vw;
    background-color: #fb92ba;
    margin-top: 1vw;
    border-radius: 10px;
    justify-content: center;
    padding-top: 0.5vw;
    text-align: center;
}

/*Habilidades personales*/
#habilidades{
    padding-top: 1vw;
    width: 100%;
    height: 40vh;
    background-color: #fb92ba;
}
h2#tituloHabi{
    margin: 2vw 40vw;
    width: 21vw;
    font-family: letra3;
    font-size: 2vw;
}
#tituloHabi:hover{
    cursor: pointer;
    border-bottom: #fb92ba solid 3px;
}

#cuadros{
    display: flex;
    flex-wrap: wrap; 
    gap: 2vw; 
    justify-content: center; 
    
}
#conte:hover{
    cursor: pointer;
    width: 14vw;
    height: 11vw;
    background-color: #e8d4d1;
    box-shadow: 3px 3px 5px 3px #f5f4f2 ;
}
#habiTite{
    font-family: letra3;
    width: 10vw;
    font-size: 1vw;
    margin: auto auto;
}
#habiConte{
    font-family: letra5;
    font-size: 1vw;
    width: 10vw;
    margin: auto auto;
}
#proyectos{
    width: 100%;
    height: 78vh;
    background-color: #ffffff;
}
#proyecTite{
    text-align: center;
    margin: auto;
    padding-top: 3vw;
    font-family: letra3;
    font-size: 2vw;
    width: 15vw;
}
#proyecTite:hover{
    cursor: pointer;
    border-bottom: #fb92ba solid 3px;
}
#cartas{
    display: flex;
    flex-wrap: wrap;
    margin: 4vw auto;
    width: 80%;
    justify-content: space-around;
    
}

#titu{
    text-align: center;
    margin: 2vw 5.5vw;
    font-size: 2vw;
    font-family: letra3;
}
#cards{
    width: 24vw;
    height: 26vw;
    border-radius: 20px;
    background-color: #fdfcfb;
    border: 1px solid #333;
}
#cards:hover{
    width: 26vw;
    height: 27vw;
    cursor: pointer;
    box-shadow: 3px 3px 5px 3px #333 ;
}
img#carta{
    width: 14vw;
    height: 8vw;
    border-radius: 20px;
    margin: auto 5vw;
    border:1px solid #333;
    box-shadow: 3px 3px 2px 2px #fb92ba;
}
img#carta1{
    width: 8vw;
    height: 7vw;
    border-radius: 20px;
    margin: auto 8vw;
    border:1px solid #333;
    box-shadow: 3px 3px 2px 2px #fb92ba;
}
#conte{
    background-color: #fffaf3;
    width: 13vw;
    height: 10vw;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border:  1px solid #333;
}
#infoCard{
    font-family: letra4;
    text-align: center;
    margin: 2vw auto;
    width: 20vw;
}
#logoGit1 img{
    width: 2.5vw;
    height: 2.5vw;
    margin: -1vw 10vw;
}
#logoGit2 img{
    width: 2.5vw;
    height: 2.5vw;
    margin: 1vw 10vw;
}
#logoGit3 img{
    width: 2.5vw;
    height: 2.5vw;
    margin: -1vw 11vw;
}
#inferior{
    width: 100%;
    height: 8vh;
    background-color: #e8d4d1;
    display: flex;
}
#links{
    display: flex;
    gap: 1vw;
    margin: 0.5vw 5vw;
}
#nombre{
    margin: auto 27vw;
    text-align: center;
}
#git{
    border-radius: 100%;
}
img#Git{
    width: 2.5vw;
    height: 2.5vw;
    
}
#linkled{
    border-radius: 100%;
}
img#linkle{
    width: 2.5vw;
    height: 2.5vw;
}
#nombre{
    font-family: letra3;
}

.contact-info {
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.social-icon {
    width: 30px;
    transition: var(--transition);
}

.social-icon:hover {
    transform: scale(1.2);
}

form {
    margin: auto auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    box-shadow: var(--shadow);
    padding: 20px;
    border-radius: 10px;
    background: var(--card-bg);
}

input, textarea {
    padding: 12px;
    border: 1px solid #e2e8f0;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 300;
}
.back-to-top {
    display: inline-block;
    margin-top: 10px;
    color: gray;
    text-decoration: none;
    font-size: 0.9rem;
    transition: var(--transition);
}

.back-to-top:hover { color: var(--accent-color); }

.btn-secondary {
    background: var(--card-bg);
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    text-decoration: none;
    border: 2px solid black;
}
.btn-secondary:hover {
    background: var(--accent-color);
    color: #108842;
}
.btn, .btn-secondary {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: var(--transition);
}
.con{
    display: flex;
    text-align: center;
    margin: 2vw 48vw;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        margin-left: 50vw;
    }

    #menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 8vh;
        width: 50vw;
        height: 25vh;
        background: rgba(255, 255, 255, 0.95);
        text-align: center;
    }

    #menu.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu li {
        font-size: 2vw;
    }
    #logo{
        margin-left: -5vw;
        width: 15vw;
        font-size: 4vw;
    }
    
    /*Inicio del portafolio*/
    #inicio{
        height: 50vh;
    }
    #introduccion{
        background-color: #e8d4d1;
        display: flex;
    }
    #avatar img{
        border-radius: 100%;
        width: 20vw;
        height: 22vw;
        margin: 15vw 15vw;
        box-shadow: 3px 3px 5px 3px #fb92ba ;
    }
    #text{
        width: 60vw;
        margin: 30vw auto;
        font-size: 3vw;
    }
    #mas{
        width: 35vw;
        height: 6vw;
    }
    #mas a{
        font-family: letra5;
        font-size: 3vw;
    }

    /* sobre mi*/
    #tituloMi{
        font-size: 4vw;
        width: 20vw;
        padding-top: 3vw;
    }
    
    #infor{
        flex-direction: column;
    }
    #infoTi{
        font-family: letra3;
        font-size: 3vw;
        width: 50vw;
        margin-left: 6vw;
    }
    #conteni{
        font-size: 3vw;
        margin: auto auto;
        max-width: 60vw;
    }
    img#imagen1{
        width: 25vw;
        height: 30vw;
        margin: -40vw 45vw;
    }
    #imagen1:hover{
        width: 26vw;
        height: 31vw;
    }
    #lenguajes{
        text-align: center;
        margin: 5vw 10vw;
    }
    li#len{
        width: 19vw;
        height: 3vw;
        background-color: #fb92ba;
        margin-top: 3vw;
        padding-top: 1vw;
        font-size: 2vw;
    }

    /*Habilidades personales*/
    #habilidades{
        padding-top: 1vw;
        width: 100%;
        height: 60vh;
    }
    h2#tituloHabi{
        margin: 2vw 40vw;
        text-align: center;
        font-size: 4vw;
    }

    #cuadros{
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        
    }
    #conte{
        width: 60vw;
        height: 15vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto auto;
    }
    #conte:hover{
        cursor: pointer;
        width: 61vw;
        height: 16vw;
        background-color: #e8d4d1;
        box-shadow: 3px 3px 5px 3px #f5f4f2 ;
    }
    #habiTite{
        font-size: 2.5vw;
        margin: auto auto;
    }
    #habiConte{
        font-size: 2.5vw;
        width: 20vw;
        margin: auto auto;
    }
    #proyectos{
        width: 100%;
        height: 85vh;
    }
    #proyecTite{
        font-size: 4vw;
        width: 15vw;
    }
    #cartas{
        display: flex;
        flex-direction: column;
        margin: 5vw 10vw;
        
    }

    #titu{
        text-align: center;
        margin: 2vw 5.5vw;
        font-size: 4vw;
        font-family: letra3;
    }
    #cards{
        width: 50vw;
        height: 46vw;
        margin: auto auto;
        margin-top: 3vw;
    }
    #cards:hover{
        width: 51vw;
        height: 47vw;
    }
    img#carta{
        width: 43vw;
        height: 27vw;
    }
    img#carta1{
        width: 35vw;
        height: 27vw;
        margin: 0vw 7vw;
    }
    
    #logoGit img{
        width: 4.5vw;
        height: 4.5vw;
        margin: 2.5vw 24vw;
    }
    #inferior{
        height: 8vh;
        display: flex;
        flex-direction: column;
    }
    #links{
        margin: auto auto;
    }
    #nombre{
        margin: auto 27vw;
        text-align: center;
    }
    img#Git{
        width: 5vw;
        height: 5vw;
        
    }
    img#linkle{
        width: 5vw;
        height: 5vw;
    }
    #nombre{
        font-family: letra3;
        font-size: 2vw;
    }

}


