*{
    margin: 0;
    padding: 0;
}



#menu{
    width: 100%;
    height: 8vh;
    background-color: #fb92ba;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style: none;
    position: fixed;
}

#menu a{
    text-decoration: none;
    color: black;
}

#inicio{
    width: 100%;
    height: 70vh;
    background-color: #e8d4d1;
}


 

  #introduccion{
    background-color: #e8d4d1;
    display: flex;
    width: 70vw;
    margin: auto auto;
    gap: 2vw;
  }

  #text{
    width: 35vw;
    text-align: center;
    margin: 12vw auto;
  }

  #mas{
    width: 15vw;
    height: 2vw;
    background-color: #fb92ba;
    border-radius: 20px;
    margin-top: 2vw;
    border: none;
  }
  #mas:hover{
    cursor: pointer;
  }
  img#imagen {
    width: 20vw;
    height: 20vw;
    margin: auto auto;
    border-radius: 100px;
  }

  
.habilidades{
    width: 100%;
    height: 50vh;
    background-color: #ffffff;
}

h2#tituloHabi{
margin: 2vw auto;
width: 15vw;
}

#cuadros{
display: flex;
flex-wrap: wrap; 
gap: 2vw; 
justify-content: center; 

}

#habi{
background-color: #ffbfd7;
width: 13vw;
height: 17vw;
border-radius: 30px;
display: flex;
flex-direction: column;
align-items: center;
}

#conte{
background-color: #fffaf3;
width: 100%;
height: 14vw;
border-radius: 0 0 30px 30px;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 3vw;
}

#sobre-mi{
width: 100%;
height: 70vh;
background-color: #fceae3;
}
#infor{
    width: 70%;
    height: 35vw;
    display: flex;
    margin: auto auto;
    gap: 2vw;
}
#conteni{
    background-color: #fb92ba;
    text-align: center;
    margin-top: 5vw;
    width: 35vw;
    height: 25vw;
}
img#imagen1{
    width: 30vw;
    height: 25vw;
    margin: 5vw auto;
    border-radius: 35px;
}

#proyectos{
    width: 100%;
    height: 70vh;
    background-color: #f9a5bc;
}
#proyecTite{
    text-align: center;
    margin: auto;
    padding-top: 3vw;
}
#cartas{
    display: flex;
    flex-wrap: wrap;
    margin: 4vw auto;
    width: 80%;
    justify-content: space-around;
}

#cards{
    width: 16vw;
    height: 16vw;
    border-radius: 20px;
    background-color: #fffaf3;
}

h1#lenTite{
    margin: 2vw 46vw;
}
#box {
    width: 50vw;
    margin: auto auto;
    display: flex;
}

img#img {
    width: 7vw;
    height: 7vw;
}
#inferior{
    width: 100%;
    height: 8vh;
    background-color: #fffaf3;
    display: flex;
}
#links{
    display: flex;
    gap: 1vw;
    margin: 0.5vw 5vw;
}
#nombre{
    margin: auto 27vw;
    text-align: center;
}
#git{
    width: 2.5vw;
    height: 2.5vw;
    background-color: #ffd254;
    border-radius: 100%;
}
#linkled{
    width: 2.5vw;
    height: 2.5vw;
    background-color: #ffd254;
    border-radius: 100%;
}


